<div fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex="30" class="my-div">
        <h3 class="txt-white">Enter your information to have a Golling Representative reach out about <strong>TEST DRIVING this 2019 COMPASS
        ALTITUDE FWD!</strong></h3>

        <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div fxLayout="row wrap" fxLayoutAlign="center start">
                <mat-form-field fxFlex="80" class="flat">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" [formControl]="myForm.controls['date']" placeholder="Select a Date">
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button fxFlex="20" mat-raised-button (click)="picker.open()" type="button">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">calendar_today</mat-icon>
                </button>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center start">
                <mat-form-field fxFlex="80" class="flat">
                    <mat-label>Choose a time</mat-label>
                    <input matInput [ngxTimepicker]="timePicker" [formControl]="myForm.controls['time']" placeholder="Select a Time">
                    <ngx-material-timepicker #timePicker></ngx-material-timepicker>
                </mat-form-field>
                <button fxFlex="20" mat-raised-button (click)="timePicker.open()" type="button">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">watch_later</mat-icon>
                </button>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center start">
                <mat-form-field fxFlex="50" class="pr-2">
                    <input matInput type="text" [formControl]="myForm.controls['firstName']" placeholder="First Name">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput type="text" [formControl]="myForm.controls['lastName']" placeholder="Last Name">
                </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center start">
                <mat-form-field fxFlex="50" class="pr-2">
                    <input matInput type="text" [formControl]="myForm.controls['zipCode']" maxlength="6" placeholder="Zip Code">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput type="tel" [formControl]="myForm.controls['phone']" placeholder="Phone xxx-xxx-xxxx">
                </mat-form-field>
            </div>
            <mat-form-field class="flat">
                <input matInput type="email" [formControl]="myForm.controls['email']" maxlength="13" placeholder="Email">
            </mat-form-field>
            <h4 class="txt-white"><strong>Test Drive Location</strong></h4>
            <mat-radio-group aria-label="Select an option" [formControl]="myForm.controls['drivingLocation']">
                <mat-radio-button class="example-radio-button flat txt-white" value="1">At the Dealership</mat-radio-button>
                <mat-radio-button class="example-radio-button flat txt-white" value="2">My Home(No extar charges)</mat-radio-button>
                <mat-radio-button class="example-radio-button flat txt-white" value="3">Other loation(No extar charges)</mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="flat">
                <input matInput type="text" [formControl]="myForm.controls['address']" placeholder="Address">
            </mat-form-field>
            <div fxLayout="row wrap" fxLayoutAlign="center start">
                <mat-form-field fxFlex="50" class="pr-2">
                    <input matInput type="text" [formControl]="myForm.controls['city']" placeholder="city">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput type="text" [formControl]="myForm.controls['state']" placeholder="state">
                </mat-form-field>
            </div>
            <mat-form-field class="flat">
                <input matInput type="text" [formControl]="myForm.controls['zipCode2']" maxlength="6" placeholder="zipCode2">
            </mat-form-field>

            <div>
                <button type="submit" mat-raised-button color="warn" class="flat">Submit</button>
            </div>
        </form>
    </div>
</div>

<!-- <p>{{result | json}}</p> -->